<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>h_pro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <display-name>FileUploadServletExample</display-name>
  <servlet>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>net.codejava.upload.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/uploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckNickname</display-name>
    <servlet-name>CheckNickname</servlet-name>
    <servlet-class>bean.CheckNickname</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckNickname</servlet-name>
    <url-pattern>/Check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckEmail</display-name>
    <servlet-name>CheckEmail</servlet-name>
    <servlet-class>bean.CheckEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckEmail</servlet-name>
    <url-pattern>/CheckE</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfilePhotoDelete</display-name>
    <servlet-name>ProfilePhotoDelete</servlet-name>
    <servlet-class>ProfilePhoto.ProfilePhotoDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilePhotoDelete</servlet-name>
    <url-pattern>/PhotoDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Toggle</display-name>
    <servlet-name>Toggle</servlet-name>
    <servlet-class>bean.Toggle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Toggle</servlet-name>
    <url-pattern>/ShowToggle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>whoPost</display-name>
    <servlet-name>whoPost</servlet-name>
    <servlet-class>bean.whoPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>whoPost</servlet-name>
    <url-pattern>/ddd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tags</display-name>
    <servlet-name>Tags</servlet-name>
    <servlet-class>bean.Tags</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tags</servlet-name>
    <url-pattern>/Tagsddd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getTimelineDatas</display-name>
    <servlet-name>getTimelineDatas</servlet-name>
    <servlet-class>bean.getTimelineDatas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getTimelineDatas</servlet-name>
    <url-pattern>/getTimelineDatasurl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Timeline</display-name>
    <servlet-name>Timeline</servlet-name>
    <servlet-class>bean.Timeline</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Timeline</servlet-name>
    <url-pattern>/Timelineurl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Menu</display-name>
    <servlet-name>Menu</servlet-name>
    <servlet-class>bean.Menu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Menu</servlet-name>
    <url-pattern>/Menuddd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToggleIndiv</display-name>
    <servlet-name>ToggleIndiv</servlet-name>
    <servlet-class>bean.ToggleIndiv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToggleIndiv</servlet-name>
    <url-pattern>/ShowToggleIndiv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LikeUp</display-name>
    <servlet-name>LikeUp</servlet-name>
    <servlet-class>Like.LikeUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeUp</servlet-name>
    <url-pattern>/LikeUpPro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnLike</display-name>
    <servlet-name>UnLike</servlet-name>
    <servlet-class>Like.UnLike</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnLike</servlet-name>
    <url-pattern>/UnLikePro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FilteringMark</display-name>
    <servlet-name>FilteringMark</servlet-name>
    <servlet-class>bean.FilteringMark</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilteringMark</servlet-name>
    <url-pattern>/FilteringMarkPro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReCommentGetNickname</display-name>
    <servlet-name>ReCommentGetNickname</servlet-name>
    <servlet-class>Comments.ReCommentGetNickname</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReCommentGetNickname</servlet-name>
    <url-pattern>/ReCommentGetNicknamePro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reRecommentGetNickname</display-name>
    <servlet-name>reRecommentGetNickname</servlet-name>
    <servlet-class>Comments.reRecommentGetNickname</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reRecommentGetNickname</servlet-name>
    <url-pattern>/dddreRecommentGetNickname</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>bean.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/testPro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePost</display-name>
    <servlet-name>DeletePost</servlet-name>
    <servlet-class>Post.DeletePost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePost</servlet-name>
    <url-pattern>/DeletePostPro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Filter</display-name>
    <servlet-name>Filter</servlet-name>
    <servlet-class>Filter.Filter1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Filter</servlet-name>
    <url-pattern>/FilterPro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>Filter.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/SearchPro</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>setCharacterEncodingFilter</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
</web-app>